@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
  --foreground-hover: #2D3748;
  --text: #1a1a1a;
  --pale: #7A9BAA;
  --body: #7A9BAA;
  --gray: #E6E6E6;
  --teal: ##00A3E0;
}

html body .swiper-button-prev, html body .swiper-button-next {
  display: none;
}
/* dark mode vars */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  --foreground: #1a1a1a;
  --foreground-hover: #2D3748;
  --text: #1a1a1a;
  --pale: #7A9BAA;
  --body: #7A9BAA;
  --gray: #E6E6E6;
  --teal: ##00A3E0;
  }
}

html body .text-orange {
  color: #FF5600;
}
html body .bg-orange {
  background-color: #FF5600;
}

html body .bg-light-orange {
  background-color: #FFF1EA;
}

html body .bg-light-gray {
  background: #f9f9f9 !important;
}

html body .text-medium-gray {
  color: #A6A6A6;
}

html body .text-darker-gray {
  color: #464646;
}

html body .bg-gray { 
  background-color: #6B7280;
}
html body .bg-teal {
  background-color: #00A3E0
}

html body .text-gold {
  color: #F9A825;
}

html body .bg-light-blue {
  background-color: #E1EBF9;
}

html body .bg-light-gray {
  background-color: #EEEEEE;
}

html body .bg-dark-blue {
  background-color: #201E44;
}

html body .text-blue-primary {
  color: #004C72;
}

html body .text-dark-blue {
  color: #201E44;
}

.text-text {
  color: var(--text);
}

html body {
  background-color: var(--background);
  overflow-x: hidden;
  /* color: var(--text); */
}

.bg-background {
  background-color: var(--background);
}

.text-foreground {
  color: var(--foreground);
}

.hover:text-foreground {
  color: var(--foreground-hover);
}

.border-background {
  border-color: var(--background);
}

html body .container {
  max-width: 85rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

html body .carousel {
  width: 100vw !important;
  margin-left: 8rem;
  overflow: visible;
}

.slick-list {
  overflow: visible;
}

.slick-slide {
  padding: 0 10px;
}

html body .showcase-content p {
  font-size: 1.25rem;
  /* Increase font size for better readability */
  line-height: 2rem;
  /* Increase line height for more breathing room */
  margin-bottom: 2rem;
  /* Increase margin to add more space between paragraphs */
}


html body .showcase-content h2 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

html body .showcase-content h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
}

html body .showcase-content a {
  text-decoration: underline;
}

html body .showcase-content img {
  max-width: 600px;
  border: 2px solid #e2e8f0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  margin: 1rem auto .5rem;
  aspect-ratio: 16/9;
  /* Choose a consistent aspect ratio */
  object-fit: cover;
  /* Ensures the image covers the frame neatly */
}

html body img {
  /* add a grayscale */
  /* filter: grayscale(100%); */
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

html body img:hover {
  /* remove grayscale and also zoom in on the photo */
  filter: grayscale(0%);  
}

html body .breadcrumb {
  background: #f0f0f0 !important;
}

@media all and (max-width: 1024px) {
  html body .container {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
  }
}

html body .outer-container {
  padding-left: 0rem;
    max-width: 87rem;
    padding-right: 0rem;
}

@media all and (max-width: 1024px) {
  html body .outer-container {
    padding-left: 20px;
    max-width: 100%;
    padding-right: 20px;
  }
  html body .inner-container {
    max-width: 100%;
  }
  html body .inner-container .inner-container {
    padding: 0px;
  }
}

/* if over 1440, make container max width larger */
@media all and (min-width: 1440px) {
  html body .container {
    max-width: 120rem;
    /* padding-left: 100px; */
  }
  html body .inner-container {
    max-width: 1400px;
  }
}

html body .bg-gradient-1 {
  background: linear-gradient(180deg, #201E44 0%, #004C72 100%);

}

html body .article-heading {
  @apply text-2xl font-semibold text-gray-800 mt-8 mb-4;
}

html body .article-paragraph {
  @apply text-base leading-relaxed text-gray-700 mb-4;
}

html body .article-list {
  @apply list-disc list-inside pl-5 space-y-4 text-gray-700;
}

html body .article-list-item {
  @apply font-medium text-gray-800;
}

html body .article-callout {
  @apply bg-blue-50 border-l-4 border-blue-500 p-4 my-6;
}

html body .article-title {
  @apply text-4xl font-bold text-gray-900 mb-6;
}
html body .article-subheading {
  @apply text-2xl font-semibold text-gray-800 mt-8 mb-4;
}

.gradient-1 {
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

}

.gradient-2 {
  background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); 
  
}

.gradient-3 {


background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

}

.gradient-4 {
  background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #FF2525 74%);
}

.gradient-5 {
  background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

}

html body ol ul {
  margin-top: 8px;
}

html body ol {
  margin-bottom: 20px;
}

.task-content {
  padding-top: 24px;
}
.task-content h1 {
  font-size: 2.25rem;
  line-height: 2.75rem;
  margin-bottom: 3rem;
  margin-top: 1.5rem;
  
}

.task-content h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  /* border-top: #e8e8e8 1px solid; */
  /* padding-top: 1.5rem; */
}

.task-content ul {
  margin-bottom: 1.5rem;
}

.task-content li {
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
}

.task-content ul ul {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
}

html body .article-content h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;

  border-top: #e8e8e8 1px solid;
  padding-top: 3rem;
}

html body .article-content h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: .75rem;
  font-weight: 600;
  margin-top: 2rem;
}

html body .article-content ul {
  @apply list-disc list-inside pl-5 space-y-4 text-gray-700 my-6;
}

html body .article-content ul li {
  @apply font-medium text-gray-800;
}

html body .article-content ol {
  @apply list-decimal list-inside pl-5 space-y-4 text-gray-700 my-6;
}

html body .article-content ol li {
  @apply font-medium text-gray-800;
}

html body .article-content p {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

html body .article-content a {
  text-decoration: underline;
  font-weight: 600;
  color: #FF5600;
}

/* Shiny Button Base */
.shiny-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: white;
  /* font-size: 1rem; */
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.shiny-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 15px rgba(255, 87, 1, 0.5);
}

/* Shiny Effect */
.shiny-effect {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 150%;
  height: 100%;
  background: linear-gradient(120deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.4));
  transform: skewX(-30deg);
  opacity: 0; /* Hide by default */
  transition: all 0.5s ease, opacity 0.3s ease;
}

.shiny-button:hover .shiny-effect {
  left: 110%;
  opacity: 1; /* Show only on hover */
  transition: all 0.75s ease;
}

/* Pulsing Animation */
@keyframes pulse {
  0% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(255, 136, 0, 0.5);
  }
  50% {
      transform: scale(1.1);
      box-shadow: 0 0 20px rgba(255, 136, 0, 0.4);
  }
  100% {
      transform: scale(1);
      box-shadow: 0 0 0 rgba(255, 136, 0, 0.5);
  }
}

/* Pulse Orb Style */
.pulse-orb {
  animation: pulse 2s infinite;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

html body .article-content table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 1rem;
  text-align: left;
}

html body .article-content th,
html body .article-content td {
  border: 1px solid var(--gray);
  padding: 0.75rem;
}

html body .article-content th {
  background-color: var(--pale);
  font-weight: 600;
  color: var(--text);
}

html body .article-content tr:nth-child(even) {
  background-color: var(--gray);
}

html body .article-content tr:hover {
  background-color: var(--foreground-hover);
  color: white;
  transition: background-color 0.3s ease;
}

html body .article-content caption {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text);
}

html body .article-content h2:first-of-type {
  border-top: none;
  padding-top: 0;
}